<h1>image Page</h1>
<hr>
<ul class="list-group well">
  <% @images.each do |image| %>
    <li class="list-group-item"><strong><%= image.description %></strong> <%= link_to "image Page", image_path(image), :class => "btn btn-info btn-sm pull-right" %><% if current_user == image.user %>(editable by you)<%end%></li>
  <% end %>
</ul>
<hr>
<%= link_to "Add a image", new_image_path, :class => "btn-lg"%>
<% if current_user %>
<%= link_to "User Page", user_path(current_user) %>
<% end %>
